<h1>Basic controls</h1>
<%= link_to "Advanced", manage_path %>
<%= render "admin/partials/map" %>
<%= render "admin/partials/conflicts" %>
<%= render "admin/partials/js_tags" %>
<%= render "admin/partials/item_logs" %>
<hr />