<h1>Control panel</h1>
<%= link_to "basic controls", manage_simple_path %>
<hr />

<h2>Rounds</h2>
<%= render "admin/partials/rounds" %>
<hr />

<h2>Player list</h2>
<%= render "admin/partials/players" %>
<hr />

<h2>Items</h2>
<%= render "admin/partials/items" %>
<hr />

<h2>Map</h2>
<%= render "admin/partials/map" %>
<hr />

<h2>Conflicts</h2>
<%= render "admin/partials/conflicts" %>
<hr />

<h2>Item Logs</h2>
<%= render "admin/partials/item_logs" %>
<hr />

<%= render "admin/partials/js_tags" %>